@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face {
  font-family: 'fortitles';
  src:url("../fonts/GeosansLight.ttf");
}

/*Formatação de texto e cores do site*/

body{

   background-color: #004680;
   color: black;
   font-family: 'Quicksand', sans-serif;

 }

 header#cabeçalho h1{
   position: absolute;
   top: -20px;
   left: 105px;
   color: white;
   /*font-family: 'fortitles', sans-serif; - Outra fonte porém está na pasta do projeto*/
   font-family: 'Quicksand', sans-serif;
   font-size: 50px;
   text-shadow: 2px 2px 2px black;
 }

 header#cabeçalho h2{
   font-size: 30px;
   top: 10px;

 }


 header#cabeçalho{

   border-bottom: 1px gray solid;
   height: 110px;
   background: url("../imagens/back.png" ) no-repeat 970px 5px ;
   background-size: 150px;


 }

 header#cabeçalho figure.covid{
   position: absolute;
   left: 850px;
   top: 430px;

 }



 div#interface{
   background-color: #dddddd;
   border-radius: 10px;
   width: 1100px;
   margin: 100px auto 50px auto; /*centralizando o conteúdo da página*/
   box-shadow: 1px 1px 6px white;
   padding: 0px 20px 20px 20px;


 }

 p{
   text-align: justify;
   text-indent: 50px;
 }


figure.covid img{
  border-radius: 8px;
  box-shadow: 3px 3px 3px black;

}

figure.covid figcaption{
  opacity: 0;
  position: absolute; /* position absolute para que todos figcaption fiquem dentro do foto legenda*/
  top: 0px;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  padding: 10px;   /* criar espaço dentro do campo de legenda*/
  box-sizing: border-box;
  transition: opacity 1s;
  color: white;

}

figure.covid:hover figcaption{
  opacity: 1;
}






/*Formatação de imagens com legendas*/

figure.foto-legenda{
    position: relative;
    border: 3px solid white;
    width: 400px;
    height: 200px;
    box-shadow: 1px 1px 10px white;



}
figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
  opacity: 0;
  position: absolute; /* position absolute para que todos figcaption fiquem dentro do foto legenda*/
  top: 0px;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  padding: 10px;   /* criar espaço dentro do campo de legenda*/
  box-sizing: border-box;
  transition: opacity 1s;

}

figure.foto-legenda:hover figcaption{
  opacity: 1;
}

/*Formatação do Menu*/

nav#menu{
  display: block; /*transformar o menu um bloco para que ele possa flutuar*/

}
nav#menu{
  text-transform: uppercase;  /*uppercase para deixar a letra em maíuscula*/
  position: absolute;
  top: 5px;
  left: 700px;

}

nav#menu li{
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  transition: background-color 1s;  /*Efeito de transição para quando o moouse passar por cima*/


}

nav#menu li:hover{      /*comando para mudar a cor do  item quando o mouse passar por cima */
  background-color: #7cfc00;
}

nav#menu h1{
  display: none;  /*para não mostrar o h1 do menu principal*/
}

nav#menu a{
  font-size: 17px;
  color: white;
  text-decoration: none; /* para remover o o sublinhados dos hiperlinks*/

}

nav#menu a:hover{
  color: #000000; /* mudar a cor do hyperlink quando o mouse passar por cima*/
}



section#corpo{
 display: block; /*Definir o espço como um bloco*/
 width: 700px ;
 float: left;
 border-right: 1px solid gray;
 padding-right: 20px;



}

aside#lateral{
  display: block; /*Definir o espço como um bloco*/
  width: 350px ;
  float: right;



}

footer#rodape{
  clear: both; /*Limpar e manter configuração*/
  border-top: 1px solid gray;
}

footer#rodape p{
  text-align: center;
}

footer#rodape a{
  text-decoration: none;
}




















/*
- Orientações para Cores
color: rgba(255,255,255,0.9); para deixar a cor da letra transparente
background-color: #6A5ACD;  posso escrever a cor ou
colocar o código hexadecimal ou
colocar o código rgb background-color: rgb(13,15,56) ou
colocar por parametros de hsb da forma = background-color: hsl(165,81%93%) e
podemos colocar o alpha com o hsla para transparencia;
*/
/*Importante pontuar:

text-indent: 50px; - para paragrafo*/
/*
Formatação de imagens com legendas
<figure>
<img src="imagens\nature1.jpg" width="200" height="121"/>
<figcaption>
   A legenda vai aqui
</figcaption>
</figure>
Temos um site prefixer que quando colocado o trecco o código no mesmo ele gera códigos para todos os navegadores,
caso haj algum problema de compatibilidade
box-shadow: 1px 1px 2px white; para criar caixxa com sombra
*/
